<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js/dist/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/bootstrap/dist/js/bootstrap.min.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>

<footer>
  <div class="container">
    <p class="text-center">Made with ♥ by {{ site.author | escape }}</p>
  </div>
</footer>
