<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

<link rel="stylesheet" href="{{ "/assets/sass/main.css" | relative_url }}">

<link rel="stylesheet" href="https://cdn.statically.io/gh/twbs/bootstrap/master/dist/css/bootstrap.min.css">


{% if page.title %}
	<title>{{ page.title | escape }} - {{ site.title | escape }}</title>
{% else %}
	<title>{{ site.title | escape }}</title>
{% endif %}

<meta property="og:title" content="{{ site.title | escape }}">
<meta name="author" content="{{ site.author }}">
<meta property="og:locale" content="{{ page.lang | default: site.lang | default: "en" }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:site_name" content="{{ site.title | escape }}"> 
