$color-primary: #6c757d !default;
$color-primary-hover: #343a40 !default;

@media (max-width: 768px) {
	.navbar-text {
		display:none;
	}
}


.nav-menu a {
	font-size:1.2rem !important;
	color:grey;
}

.nav-menu a:hover {
	color:white;
}

.main-jumbo {
	background-color:black;
}

.main-header {
	color:white;
}

.main-header:hover {
	color:white;
}

.footer-box {
	padding:.5rem;
	background-color:black;
	color:white;
}

.footer-box a {
	color:grey;
}

.footer-box a:hover {
	color:white;
}

.bg-black {
	background-color:black !important;
}

.navbar-text {
	color:white;
	font-weight:bold;
	padding-left:.5rem;
}

.nav-link {
  font-weight:bold;
}

.nav-link:hover {
  color:rgba(255,255,255,1) !important;
}

.post-title {
  color:$color-primary;
}

.post-title:hover {
  color:$color-primary-hover;
  text-decoration: none;
}

.item-article {
  list-style-type: none;
}

.badge {
  font-weight:500 !important;
  text-transform: uppercase;
  border-radius:0 !important;
}

.badge-big {
  padding:10px 15px !important;
}

.navbar-toggler {
  border-color:transparent !important;
}

.navbar-toggler:focus {
  outline:0 !important;
}



blockquote {
	border-left: 5px solid grey;
	padding-left:10px;
	color:grey;
	font-size: 1.25rem;
}

.zeromb {
  margin-bottom: 0 !important;
}

.zeromt {
  margin-top: 0 !important;
}
