html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: #fff 0px 1px 1px;
}

a {
  transition: 0.3s;
}

a:hover {
  text-decoration: none !important;
}

h1 {
  font-weight:600;
}
